PWS Dashboard from MQTT
[
    {
        "id": "35ad4fe4.069a3",
        "type": "subflow",
        "name": "SaveChart",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 60,
                "wires": [
                    {
                        "id": "f4457c36.28ce1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 80,
                "wires": [
                    {
                        "id": "cf553dbd.50f9a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "db9cbd5c.fb547",
        "type": "file",
        "z": "35ad4fe4.069a3",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 690,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f7f46486.9881a8",
        "type": "file in",
        "z": "35ad4fe4.069a3",
        "name": "",
        "filename": "",
        "format": "utf8",
        "sendError": true,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "cf553dbd.50f9a"
            ]
        ]
    },
    {
        "id": "ac2168dc.ee28f8",
        "type": "json",
        "z": "35ad4fe4.069a3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 40,
        "wires": [
            [
                "db9cbd5c.fb547"
            ]
        ]
    },
    {
        "id": "cf553dbd.50f9a",
        "type": "json",
        "z": "35ad4fe4.069a3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f4457c36.28ce1",
        "type": "function",
        "z": "35ad4fe4.069a3",
        "name": "LoadSave",
        "func": "var strSafe=msg.topic;\nif(strSafe)\n{\n    strSafe=strSafe.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n    var loaded=context.get(strSafe)||0;\n    msg.filename = \"/share/charts/\"+strSafe+\".dat\";\n    //node.warn(loaded);\n    if(0===loaded)\n    {\n        //load chart!! \n        msg.payload=\"load\";\n        context.set(strSafe,1);\n        \n        node.warn(\"Loading \" +strSafe);\n    }\n    else\n    {\n        node.warn(\"Writing \" +strSafe);\n    }\n    return msg;    \n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "99a5d40b.95d618"
            ]
        ]
    },
    {
        "id": "99a5d40b.95d618",
        "type": "switch",
        "z": "35ad4fe4.069a3",
        "name": "Load data",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "load",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "load",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 60,
        "wires": [
            [
                "ac2168dc.ee28f8"
            ],
            [
                "f7f46486.9881a8"
            ]
        ]
    },
    {
        "id": "282fafd4.df968",
        "type": "tab",
        "label": "PWS Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5f88c0fa.e6cfd",
        "type": "group",
        "z": "282fafd4.df968",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b3b0e8fb.3f1588",
            "3f9dc52a.119aba",
            "d9f4deab.d975e",
            "daf83a79.47adb8",
            "923b9d22.dcb4e",
            "891e5d84.329ed",
            "beba422.90e6bc",
            "8682a52e.e75d38",
            "64e2746b.7f405c",
            "9759cfa6.fd92",
            "44a5c757.dbcad8"
        ],
        "x": 14,
        "y": 879,
        "w": 952,
        "h": 222
    },
    {
        "id": "bca80e07.fbb0a",
        "type": "group",
        "z": "282fafd4.df968",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ec5a141.8a7d8e8",
            "5cce5f1e.35fde",
            "114e7afd.cd5cd5",
            "e8e70bd7.7b2ef8",
            "98e04865.be11d8",
            "78b1ed44.63d2b4",
            "1d82ae34.ff1172",
            "7bebe67.0142f18",
            "3c31c62d.40cdfa",
            "4373c212.38758c",
            "5d5313ec.8ef9fc",
            "adb65be.0bba1a8",
            "78b3d55e.552edc",
            "2a5f6e89.ac5772",
            "9afc1a7f.55c808"
        ],
        "x": -6,
        "y": 559,
        "w": 972,
        "h": 302
    },
    {
        "id": "d2d665ce.c48898",
        "type": "debug",
        "z": "282fafd4.df968",
        "name": "PWS Obs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "36bc66ae.8b41fa",
        "type": "comment",
        "z": "282fafd4.df968",
        "name": "Query PWS Current Conditions / Observations for any Personal Weather Station",
        "info": "",
        "x": 340,
        "y": 20,
        "wires": []
    },
    {
        "id": "a41d8185.128c7",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "StationID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "6e439dd2.a9fbc4"
            ]
        ]
    },
    {
        "id": "6e439dd2.a9fbc4",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "Set twcparams",
        "rules": [
            {
                "t": "set",
                "p": "twcparams",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "twcparams.StationID",
                "pt": "msg",
                "to": "StationID",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "36df2040.dab0e8"
            ]
        ]
    },
    {
        "id": "b3dc9bd1.1c29f",
        "type": "function",
        "z": "282fafd4.df968",
        "name": "Build Table",
        "func": "if( typeof(msg.payload.observations) == 'undefined') {\n    return null;\n}\n\nvar TableArray = [];\nfor (const [key, value] of Object.entries(msg.payload.observations[0])) {\n  var TableEntry = {};\n  TableEntry.observations = key ;\n  TableEntry.results = value ;\n  TableArray.push( TableEntry );\n}\n\nvar weather = {};\nif( typeof( msg.payload.observations[0].metric) != 'undefined') {\n    weather = msg.payload.observations[0].metric;\n} else if( typeof( msg.payload.observations[0].imperial) != 'undefined') {\n    weather = msg.payload.observations[0].imperial;\n} else if( typeof( msg.payload.observations[0].uk_hybrid) != 'undefined') {\n    weather = msg.payload.observations[0].uk_hybrid;\n}    \n   \nfor (const [key, value] of Object.entries(weather)) {\n    var TableEntry = {};\n    TableEntry.observations = key ;\n    TableEntry.results = value ;\n    TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "a74bb8bb.139fc8"
            ]
        ]
    },
    {
        "id": "5ae291f0.8bd74",
        "type": "inject",
        "z": "282fafd4.df968",
        "name": "Refresh",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "6e439dd2.a9fbc4",
                "c456ddb.57c3b2"
            ]
        ]
    },
    {
        "id": "d159cc17.4131",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 320,
        "wires": [
            [
                "d2cf0c9f.e2301"
            ]
        ]
    },
    {
        "id": "9c821e99.76231",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].winddir",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "a65807d7.1fb848"
            ]
        ]
    },
    {
        "id": "25b3df1b.265fd",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].imperial.windSpeed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 400,
        "wires": [
            [
                "2d243043.7d026"
            ]
        ]
    },
    {
        "id": "4d43de33.96556",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].imperial.precipTotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "ad3eaab7.f96178"
            ]
        ]
    },
    {
        "id": "405f5a2d.b50574",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].imperial.dewpt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ui_control.options.valueMinFontSize",
                "pt": "msg",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "245669d1.7e6196"
            ]
        ]
    },
    {
        "id": "8cf1da8b.06de08",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].uv",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ui_control.options.valueMinFontSize",
                "pt": "msg",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "150b86f0.e04a69"
            ]
        ]
    },
    {
        "id": "a65807d7.1fb848",
        "type": "ui_gauge",
        "z": "282fafd4.df968",
        "name": "",
        "group": "c05e4831.bbdf78",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "359",
        "colors": [
            "#00b3b0",
            "#00e60f",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1260,
        "y": 360,
        "wires": []
    },
    {
        "id": "76cbae0b.7324a",
        "type": "inject",
        "z": "282fafd4.df968",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "318d5266.e18f2e"
            ]
        ]
    },
    {
        "id": "c98af31d.cecec",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "myhourpm",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hour",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 60,
        "wires": [
            [
                "417e72d5.df41bc"
            ]
        ]
    },
    {
        "id": "6211b334.cacb3c",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 1,
        "width": 16,
        "height": 3,
        "name": "Local Time",
        "label": "",
        "format": "<font class=\"biggertext\">{{msg.payload}}</font>",
        "layout": "row-center",
        "x": 1250,
        "y": 80,
        "wires": [],
        "info": "<font class=\"fa-4x\">\n<font class=\"nr-dashboard-text _md\">"
    },
    {
        "id": "825fcaa6.0510f8",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "myminute",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "minute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 100,
        "wires": [
            [
                "417e72d5.df41bc"
            ]
        ]
    },
    {
        "id": "94c718e2.02b978",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mypm",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ampm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 140,
        "wires": [
            [
                "231ab006.6aa4d"
            ]
        ]
    },
    {
        "id": "417e72d5.df41bc",
        "type": "join",
        "z": "282fafd4.df968",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ":",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 990,
        "y": 80,
        "wires": [
            [
                "98b9a92a.351588",
                "6211b334.cacb3c"
            ]
        ]
    },
    {
        "id": "98b9a92a.351588",
        "type": "join",
        "z": "282fafd4.df968",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1130,
        "y": 140,
        "wires": [
            [
                "6211b334.cacb3c"
            ]
        ]
    },
    {
        "id": "231ab006.6aa4d",
        "type": "delay",
        "z": "282fafd4.df968",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 970,
        "y": 140,
        "wires": [
            [
                "98b9a92a.351588"
            ]
        ]
    },
    {
        "id": "374bd908.4e3a46",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].imperial.pressure",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ui_control.options.valueMinFontSize",
                "pt": "msg",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 480,
        "wires": [
            [
                "197d4772.f310f9"
            ]
        ]
    },
    {
        "id": "b930ef14.a3d7c",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.observations[0].imperial.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ui_control.options.valueMinFontSize",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 280,
        "wires": [
            [
                "1f13a697.2993b9"
            ]
        ]
    },
    {
        "id": "c456ddb.57c3b2",
        "type": "ui_button",
        "z": "282fafd4.df968",
        "name": "",
        "group": "1eaa5523.e75dab",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "KTXMANSF125",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "KTXMANSF125",
        "payloadType": "str",
        "topic": "StationID",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "a41d8185.128c7"
            ]
        ]
    },
    {
        "id": "372591f1.1c9a3e",
        "type": "ui_button",
        "z": "282fafd4.df968",
        "name": "",
        "group": "1eaa5523.e75dab",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "KTXBASTR120",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "KTXBASTR120",
        "payloadType": "str",
        "topic": "StationID",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "a41d8185.128c7"
            ]
        ]
    },
    {
        "id": "1f13a697.2993b9",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 2,
        "width": 8,
        "height": 3,
        "name": "Temp",
        "label": "",
        "format": "<font class=\"biggertext\">{{msg.payload}}</font>F",
        "layout": "row-center",
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "318d5266.e18f2e",
        "type": "simpletime",
        "z": "282fafd4.df968",
        "name": "",
        "mydate": false,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": true,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": true,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": true,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "c98af31d.cecec",
                "825fcaa6.0510f8",
                "94c718e2.02b978"
            ]
        ]
    },
    {
        "id": "36df2040.dab0e8",
        "type": "pws-observations",
        "z": "282fafd4.df968",
        "name": "",
        "stationid": "StationID",
        "units": "e",
        "apikey": "4888b0a5.5cd9d",
        "x": 790,
        "y": 400,
        "wires": [
            [
                "d2d665ce.c48898",
                "b3dc9bd1.1c29f",
                "d159cc17.4131",
                "9c821e99.76231",
                "25b3df1b.265fd",
                "4d43de33.96556",
                "405f5a2d.b50574",
                "8cf1da8b.06de08",
                "374bd908.4e3a46",
                "b930ef14.a3d7c",
                "daacb3c4.593f4",
                "e49ddf1.2b8b82"
            ]
        ]
    },
    {
        "id": "a74bb8bb.139fc8",
        "type": "ui_table",
        "z": "282fafd4.df968",
        "group": "10c9f9e1.8539b6",
        "name": "",
        "order": 1,
        "width": 10,
        "height": 10,
        "columns": [
            {
                "field": "observations",
                "title": "Observations",
                "width": "50%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "results",
                "title": "Results",
                "width": "48%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1230,
        "y": 240,
        "wires": []
    },
    {
        "id": "2d243043.7d026",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "c05e4831.bbdf78",
        "order": 2,
        "width": 4,
        "height": 4,
        "name": "Wind Speed",
        "icon": "iconify-mdi-weather-windy",
        "label": "Wind Speed",
        "unit": "mph",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00ff84",
                "t": "min",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#ffe666",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 40,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "f8626226.bcdcf",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "1eaa5523.e75dab",
        "name": "",
        "order": 12,
        "width": 16,
        "height": 1,
        "format": "<style>\n    @font-face {\n        font-family: \"biggertext\";\n    }\n\n    .biggertext {\n        color: rgba(255, 255, 255, 0.8);\n        font-size: 140px;\n    }\n        .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible > * .small{\n        font-size:10px;\n    }\n    .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible > * .medium{\n        font-size:15px;\n    }\n    .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible > * .big{\n        font-size:25px;\n    }\n\n</style>\n<script src=\"https://code.iconify.design/1/1.0.7/iconify.min.js\"></script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 80,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d2cf0c9f.e2301",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 5,
        "width": 4,
        "height": 4,
        "name": "Humidity",
        "icon": "iconify-wi-humidity",
        "label": "Humidity",
        "unit": "%",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#fbff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 35,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 65,
                "col": "#ff9705",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 90,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "9",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1240,
        "y": 320,
        "wires": []
    },
    {
        "id": "ad3eaab7.f96178",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 8,
        "width": 4,
        "height": 4,
        "name": "Rainfall",
        "icon": "iconify-carbon-rain-drop",
        "label": "24hr Rainfall",
        "unit": "in",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#006eff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 0.5,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 2,
                "col": "#ff9705",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 3,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 5,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "9",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1240,
        "y": 520,
        "wires": []
    },
    {
        "id": "150b86f0.e04a69",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 7,
        "width": 4,
        "height": 4,
        "name": "UV",
        "icon": "iconify-carbon-uv-index-alt",
        "label": "UV",
        "unit": "",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#8000ff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 3,
                "col": "#fff566",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 6,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 10,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "9",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1230,
        "y": 600,
        "wires": []
    },
    {
        "id": "197d4772.f310f9",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "c05e4831.bbdf78",
        "order": 4,
        "width": 4,
        "height": 4,
        "name": "Barometer",
        "icon": "iconify-wi-barometer",
        "label": "Barometer",
        "unit": "inHG",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 25,
                "col": "#ff0000",
                "t": "min",
                "dot": 0
            },
            {
                "val": 27,
                "col": "#fff566",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 29,
                "col": "#00ff00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 32,
                "col": "#00ff00",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1250,
        "y": 480,
        "wires": []
    },
    {
        "id": "245669d1.7e6196",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 6,
        "width": 4,
        "height": 4,
        "name": "Dew Point",
        "icon": "iconify-carbon:dew-point",
        "label": "Dew Pont",
        "unit": "F",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#00fffb",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#00a7fa",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 65,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 85,
                "col": "#ff0505",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 110,
                "col": "#ff0505",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "daacb3c4.593f4",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "secondary",
                "pt": "msg",
                "to": "payload.observations[0].imperial.windGust",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "6ac9dac4.515a14"
            ]
        ]
    },
    {
        "id": "6ac9dac4.515a14",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "c05e4831.bbdf78",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "Gust",
        "icon": "",
        "label": "Gusts",
        "unit": "mph",
        "layout": "linear",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "secondary",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00ff84",
                "t": "min",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#ffe666",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 40,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "ec5a141.8a7d8e8",
        "type": "mqtt in",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "topic": "PWS/SDL_AQI",
        "qos": "2",
        "datatype": "auto",
        "broker": "52473363.c6b6cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 680,
        "wires": [
            [
                "5cce5f1e.35fde"
            ]
        ]
    },
    {
        "id": "1aeeb7a.de36f48",
        "type": "mqtt in",
        "z": "282fafd4.df968",
        "name": "",
        "topic": "PWS/SDL_Indoor",
        "qos": "2",
        "datatype": "auto",
        "broker": "52473363.c6b6cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "2587f222.42912e"
            ]
        ]
    },
    {
        "id": "2587f222.42912e",
        "type": "json",
        "z": "282fafd4.df968",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "7dd4c70c.b00018",
                "d3a99c99.7a0bc"
            ]
        ]
    },
    {
        "id": "5cce5f1e.35fde",
        "type": "json",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "114e7afd.cd5cd5",
                "98e04865.be11d8",
                "78b1ed44.63d2b4",
                "1d82ae34.ff1172",
                "78b3d55e.552edc",
                "9afc1a7f.55c808"
            ]
        ]
    },
    {
        "id": "b3b0e8fb.3f1588",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lightningcount",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 940,
        "wires": [
            [
                "d9f4deab.d975e"
            ]
        ]
    },
    {
        "id": "3f9dc52a.119aba",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lightninglastdistance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 980,
        "wires": [
            [
                "daf83a79.47adb8",
                "923b9d22.dcb4e"
            ]
        ]
    },
    {
        "id": "d9f4deab.d975e",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "group": "1885e422.ff6dac",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Lightning Strikes",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 690,
        "y": 920,
        "wires": []
    },
    {
        "id": "daf83a79.47adb8",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "group": "1885e422.ff6dac",
        "order": 3,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Lightning Distance (km)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 710,
        "y": 1020,
        "wires": []
    },
    {
        "id": "923b9d22.dcb4e",
        "type": "ui_chart",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "Lightning Chart",
        "group": "1885e422.ff6dac",
        "order": 2,
        "width": 13,
        "height": 4,
        "label": "Lightning Distance (km)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 680,
        "y": 960,
        "wires": [
            [
                "64e2746b.7f405c"
            ]
        ]
    },
    {
        "id": "891e5d84.329ed",
        "type": "mqtt in",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "",
        "topic": "PWS/SDL_TB",
        "qos": "2",
        "datatype": "auto",
        "broker": "52473363.c6b6cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 960,
        "wires": [
            [
                "beba422.90e6bc"
            ]
        ]
    },
    {
        "id": "beba422.90e6bc",
        "type": "json",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 960,
        "wires": [
            [
                "b3b0e8fb.3f1588",
                "3f9dc52a.119aba",
                "8682a52e.e75d38",
                "44a5c757.dbcad8"
            ]
        ]
    },
    {
        "id": "7dd4c70c.b00018",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "9605ef68.9bb95",
        "order": 3,
        "width": 8,
        "height": 3,
        "name": "Inside Temp",
        "label": "",
        "format": "<font class=\"biggertext\">{{msg.payload.temperature_F}}</font>F",
        "layout": "row-center",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "d3a99c99.7a0bc",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "d6b71159.f17f8",
        "order": 4,
        "width": 4,
        "height": 4,
        "name": "Humidity In",
        "icon": "iconify-wi-humidity",
        "label": "Humidity Indoor",
        "unit": "%",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.humidity",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#fbff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 35,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 65,
                "col": "#ff9705",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 90,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "114e7afd.cd5cd5",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.AQI",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aqi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "7bebe67.0142f18",
                "e8e70bd7.7b2ef8"
            ]
        ]
    },
    {
        "id": "e8e70bd7.7b2ef8",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "group": "47e3af07.39fe4",
        "order": 1,
        "width": 4,
        "height": 4,
        "name": "AQI",
        "icon": "iconify-cil-leaf",
        "label": "AQI",
        "unit": "",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00ff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 51,
                "col": "#ffff80",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 101,
                "col": "#ff9500",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 151,
                "col": "#f50000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 201,
                "col": "#a137d2",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 301,
                "col": "#c33737",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 500,
                "col": "#c33737",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "98e04865.be11d8",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"PM1.0S\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm1.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "4373c212.38758c",
                "7bebe67.0142f18"
            ]
        ]
    },
    {
        "id": "78b1ed44.63d2b4",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"PM2.5S\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm2.5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "3c31c62d.40cdfa",
                "7bebe67.0142f18"
            ]
        ]
    },
    {
        "id": "1d82ae34.ff1172",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PM10S",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 780,
        "wires": [
            [
                "5d5313ec.8ef9fc",
                "7bebe67.0142f18"
            ]
        ]
    },
    {
        "id": "7bebe67.0142f18",
        "type": "ui_chart",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "group": "47e3af07.39fe4",
        "order": 5,
        "width": 16,
        "height": 5,
        "label": "Air Quality",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "adb65be.0bba1a8"
            ]
        ]
    },
    {
        "id": "3c31c62d.40cdfa",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "group": "47e3af07.39fe4",
        "order": 3,
        "width": 4,
        "height": 4,
        "name": "PM2.5S",
        "icon": "iconify-mdi-air-filter",
        "label": "PM2.5S",
        "unit": "ug/m3",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00ff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 13,
                "col": "#ffff80",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 36,
                "col": "#ff9500",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 56,
                "col": "#f50000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 151,
                "col": "#a137d2",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 251,
                "col": "#c33737",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 500,
                "col": "#c33737",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "4373c212.38758c",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "group": "47e3af07.39fe4",
        "order": 2,
        "width": 4,
        "height": 4,
        "name": "PM1.0S",
        "icon": "iconify-mdi-air-filter",
        "label": "PM1.0S",
        "unit": "ug/m3",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00ff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 12,
                "col": "#ffff80",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 35,
                "col": "#ff9500",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 55,
                "col": "#f50000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 150,
                "col": "#a137d2",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 250,
                "col": "#c33737",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 500,
                "col": "#c33737",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "5d5313ec.8ef9fc",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "group": "47e3af07.39fe4",
        "order": 4,
        "width": 4,
        "height": 4,
        "name": "PM10S",
        "icon": "iconify-mdi-air-filter",
        "label": "PM10S",
        "unit": "ug/m3",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00ff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 55,
                "col": "#ffff80",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 155,
                "col": "#ff9500",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 255,
                "col": "#f50000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 355,
                "col": "#a137d2",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 425,
                "col": "#c33737",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 500,
                "col": "#c33737",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "adb65be.0bba1a8",
        "type": "subflow:35ad4fe4.069a3",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "AQI History",
        "env": [],
        "x": 870,
        "y": 600,
        "wires": [
            [
                "7bebe67.0142f18"
            ]
        ]
    },
    {
        "id": "b7b794a8.d80fb8",
        "type": "comment",
        "z": "282fafd4.df968",
        "name": "5 Day Forecast",
        "info": "",
        "x": 440,
        "y": 1400,
        "wires": []
    },
    {
        "id": "5c5bc36.005563c",
        "type": "function",
        "z": "282fafd4.df968",
        "name": "Narrative",
        "func": "var Days = [];\nvar MyForecastStr;\nfor( var i=0; i < msg.payload.dayOfWeek.length; i++) {\n    MyForecastStr = msg.payload.dayOfWeek[i] +\" : \"+msg.payload.narrative[i];\n    Days.push(MyForecastStr)\n}\n\nreturn [{\"payload\":Days[0]},\n        {\"payload\":Days[1]},\n        {\"payload\":Days[2]},\n        {\"payload\":Days[3]},\n        {\"payload\":Days[4]},\n        {\"payload\":Days[5]}];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 1680,
        "wires": [
            [
                "c6f84647.c727",
                "6f688979.d22b28"
            ],
            [
                "38c5e3a2.2f759c"
            ],
            [
                "e6eeebc9.faf3d"
            ],
            [
                "6061525a.e3fe14"
            ],
            [
                "54c87a53.d9ec64"
            ]
        ]
    },
    {
        "id": "fec4e447.6fa4d8",
        "type": "debug",
        "z": "282fafd4.df968",
        "name": "Forecast",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1320,
        "wires": []
    },
    {
        "id": "77f061a6.a3dd7",
        "type": "function",
        "z": "282fafd4.df968",
        "name": "Weather Icon",
        "func": "// TWC forecast API suggests a Icon code to display with the narrative\n// Map the icon codes to Weather Lite icons. See\n// https://github.com/Paul-Reed/weather-icons-lite\nvar IconMapping=[ \"wi-darksky-tornado\", \"wi-hurricane\",\n\"wi-hurricane\",\"wi-owm-11d\",\"wi-owm-11d\",\n\"wi-wu-rain\",\"wi-wu-sleet\",\"wi-wu-sleet\",\"wi-wu-sleet\",\n\"wi-wu-rain\",\"wi-wu-chancesleet\",\"wi-wu-rain\",\"wi-wu-rain\",\n\"wi-wu-flurries\",\"wi-wu-flurries\",\"wi-wu-snow\",\"wi-wu-snow\",\n\"wi-wu-sleet\",\"wi-wu-sleet\",\"wi-sandstorm\",\"wi-wu-hazy\",\n\"wi-wu-hazy\",\"wi-wu-hazy\",\"wi-darksky-wind\",\"wi-darksky-wind\",\n\"wi-wu-sleet\",\"wi-wu-cloudy\",\"wi-wu-mostlycloudy\",\n\"wi-wu-mostlycloudy\",\"wi-wu-partlycloudy\",\"wi-wu-partlycloudy\",\n\"wi-wu-clear\",\"wi-wu-sunny\",\"wi-owm-02d\",\"wi-owm-02d\",\"wi-wu-rain\",\n\"wi-wu-sunny\",\"wi-darksky-thunderstorm\",\"wi-darksky-thunderstorm\",\"wi-wu-chancerain\",\n\"wi-owm-10d\",\"wi-wu-flurries\",\"wi-wu-snow\",\"wi-wu-snow\",\"wi-na\",\n\"wi-wu-chancerain\",\"wi-wu-snow\",\"wi-wu-tstorms\"];\n\n\nvar Icon=[];\nfor(i = 0; i<=msg.payload.daypart[0].iconCode.length; i+=2){\n    if( msg.payload.daypart[0].iconCode[i] !== null) {\n        Icon.push(IconMapping[msg.payload.daypart[0].iconCode[i]]);\n    } else {\n        // Evening half day? - use the alternate icon\n        Icon.push(IconMapping[msg.payload.daypart[0].iconCode[i+1]]);\n    }\n}\n\n//node.send({\"payload\":Icon})\nreturn [{\"payload\":Icon[0]},\n        {\"payload\":Icon[1]},\n        {\"payload\":Icon[2]},\n        {\"payload\":Icon[3]},\n        {\"payload\":Icon[4]},\n        {\"payload\":Icon[5]}];\n\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 1500,
        "wires": [
            [
                "eb564a5d.b01118",
                "5f1902e4.68ca2c"
            ],
            [
                "71761249.14ae4c"
            ],
            [
                "e9c1cf4f.1efb3"
            ],
            [
                "95fe10b6.103008"
            ],
            [
                "159f2e1d.f12802"
            ]
        ]
    },
    {
        "id": "8fb91cd3.0a47",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatureMin[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ui_control.options.valueMinFontSize",
                "pt": "msg",
                "to": "40",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1240,
        "wires": [
            [
                "31edb8b8.9f7d28"
            ]
        ]
    },
    {
        "id": "dc8e4153.3fc11",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatureMax[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ui_control.options.valueMinFontSize",
                "pt": "msg",
                "to": "40",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1200,
        "wires": [
            [
                "923f8c7.0311b7"
            ]
        ]
    },
    {
        "id": "6f66d969.dc58f8",
        "type": "comment",
        "z": "282fafd4.df968",
        "name": "Grab High and Low Temp and Moon data",
        "info": "",
        "x": 860,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c6f84647.c727",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "order": 2,
        "width": 13,
        "height": 2,
        "name": "D1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 1620,
        "wires": []
    },
    {
        "id": "38c5e3a2.2f759c",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "order": 4,
        "width": 13,
        "height": 2,
        "name": "D2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 1660,
        "wires": []
    },
    {
        "id": "e6eeebc9.faf3d",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "order": 6,
        "width": 13,
        "height": 2,
        "name": "D3",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 1700,
        "wires": []
    },
    {
        "id": "6061525a.e3fe14",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "order": 8,
        "width": 13,
        "height": 2,
        "name": "D4",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 1740,
        "wires": []
    },
    {
        "id": "54c87a53.d9ec64",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "order": 10,
        "width": 13,
        "height": 2,
        "name": "D5",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 1780,
        "wires": []
    },
    {
        "id": "eb564a5d.b01118",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "name": "Weather Icon Image1",
        "order": 1,
        "width": 2,
        "height": 2,
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1160,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "71761249.14ae4c",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "name": "Weather Icon Image2",
        "order": 3,
        "width": 2,
        "height": 2,
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1160,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "e9c1cf4f.1efb3",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "name": "Weather Icon Image3",
        "order": 5,
        "width": 2,
        "height": 2,
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1160,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "95fe10b6.103008",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "name": "Weather Icon Image4",
        "order": 7,
        "width": 2,
        "height": 2,
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1160,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "159f2e1d.f12802",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "42c6ffdd.a3dbb",
        "name": "Weather Icon Image5",
        "order": 9,
        "width": 2,
        "height": 2,
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1160,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "ce6acc54.9ea0f",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.moonPhaseCode[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1280,
        "wires": [
            [
                "c3f22545.41e4d8"
            ]
        ]
    },
    {
        "id": "43f771f5.9ca61",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "1eaa5523.e75dab",
        "name": "Moon Phase",
        "order": 3,
        "width": 3,
        "height": 3,
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-moon-{{msg.payload}}-dark\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1150,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "c3f22545.41e4d8",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "WNG",
                "fromt": "str",
                "to": "wan-gibb",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "LQ",
                "fromt": "str",
                "to": "third-quart",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "WNC",
                "fromt": "str",
                "to": "wan-cres",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "N",
                "fromt": "str",
                "to": "new",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "WXC",
                "fromt": "str",
                "to": "wax-cres",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "FQ",
                "fromt": "str",
                "to": "first-quart",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "WXG",
                "fromt": "str",
                "to": "wax-gibb",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "F",
                "fromt": "str",
                "to": "full",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1280,
        "wires": [
            [
                "43f771f5.9ca61"
            ]
        ],
        "info": "CSS Code\tIcon Name\r\nwi-moon-new\tf0e1\t\r\nwi-moon-wax-cres\tf0da\t\r\nwi-moon-first-quart\tf0db\t\r\nwi-moon-wax-gibb\tf0dc\t\r\nwi-moon-full\tf0dd\t\r\nwi-moon-wan-gibb\tf0de\t\r\nwi-moon-third-quart\tf0df\t\r\nwi-moon-wan-cres\tf0e0\t"
    },
    {
        "id": "d8ae468c.6e66a8",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.moonriseTimeLocal[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1360,
        "wires": [
            [
                "34da12c4.c71a2e"
            ]
        ]
    },
    {
        "id": "f4a7b0e5.9096f",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "1eaa5523.e75dab",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Moonrise",
        "label": "",
        "format": "<font class=\"fa-2x\">{{msg.payload}}</font>",
        "layout": "row-center",
        "x": 1140,
        "y": 1360,
        "wires": []
    },
    {
        "id": "34da12c4.c71a2e",
        "type": "change",
        "z": "282fafd4.df968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload, 11, 5)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1360,
        "wires": [
            [
                "f4a7b0e5.9096f"
            ]
        ]
    },
    {
        "id": "cefb8c45.37366",
        "type": "switch",
        "z": "282fafd4.df968",
        "name": "Where is the PWS?",
        "property": "payload.observations[0].stationID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "KTXMANSF125",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "KTXBASTR120",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 1480,
        "wires": [
            [
                "27c10673.26a442"
            ],
            [
                "1582ebdc.f17164"
            ]
        ]
    },
    {
        "id": "27c10673.26a442",
        "type": "pws-forecast",
        "z": "282fafd4.df968",
        "name": "TWC Forecast 76063",
        "units": "e",
        "locationtype": "postalKey",
        "location": "76063:US",
        "lang": "en-US",
        "apikey": "4888b0a5.5cd9d",
        "x": 460,
        "y": 1440,
        "wires": [
            [
                "5c5bc36.005563c",
                "fec4e447.6fa4d8",
                "77f061a6.a3dd7",
                "8fb91cd3.0a47",
                "dc8e4153.3fc11",
                "ce6acc54.9ea0f",
                "d8ae468c.6e66a8"
            ]
        ]
    },
    {
        "id": "1582ebdc.f17164",
        "type": "pws-forecast",
        "z": "282fafd4.df968",
        "name": "TWC Forecast 78602",
        "units": "e",
        "locationtype": "postalKey",
        "location": "78602:US",
        "lang": "en-US",
        "apikey": "4888b0a5.5cd9d",
        "x": 460,
        "y": 1500,
        "wires": [
            [
                "5c5bc36.005563c",
                "fec4e447.6fa4d8",
                "77f061a6.a3dd7",
                "8fb91cd3.0a47",
                "dc8e4153.3fc11",
                "ce6acc54.9ea0f",
                "d8ae468c.6e66a8"
            ]
        ]
    },
    {
        "id": "923f8c7.0311b7",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 3,
        "width": 4,
        "height": 3,
        "name": "Hi Temp",
        "icon": "iconify-la-temperature-high",
        "label": "High",
        "unit": "F",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#00fffb",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#00a7fa",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 65,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 85,
                "col": "#ff0505",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 110,
                "col": "#ff0505",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1140,
        "y": 1200,
        "wires": []
    },
    {
        "id": "31edb8b8.9f7d28",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "group": "5f8162aa.9351fc",
        "order": 4,
        "width": 4,
        "height": 3,
        "name": "Low",
        "icon": "iconify-la-temperature-low",
        "label": "Low",
        "unit": "F",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#00fffb",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#00a7fa",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 65,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 85,
                "col": "#ff0505",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 110,
                "col": "#ff0505",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1130,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5f1902e4.68ca2c",
        "type": "ui_template",
        "z": "282fafd4.df968",
        "group": "1eaa5523.e75dab",
        "name": "Weather Icon Image1",
        "order": 1,
        "width": 3,
        "height": 2,
        "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1160,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "6f688979.d22b28",
        "type": "ui_text",
        "z": "282fafd4.df968",
        "group": "1eaa5523.e75dab",
        "order": 2,
        "width": 10,
        "height": 2,
        "name": "D1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 930,
        "y": 1580,
        "wires": []
    },
    {
        "id": "73b85217.f2668c",
        "type": "link in",
        "z": "282fafd4.df968",
        "name": "",
        "links": [
            "e49ddf1.2b8b82"
        ],
        "x": 75,
        "y": 1480,
        "wires": [
            [
                "cefb8c45.37366"
            ]
        ]
    },
    {
        "id": "e49ddf1.2b8b82",
        "type": "link out",
        "z": "282fafd4.df968",
        "name": "",
        "links": [
            "73b85217.f2668c"
        ],
        "x": 995,
        "y": 640,
        "wires": []
    },
    {
        "id": "78b3d55e.552edc",
        "type": "debug",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "AQI Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "64e2746b.7f405c",
        "type": "subflow:35ad4fe4.069a3",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "",
        "x": 870,
        "y": 960,
        "wires": [
            [
                "923b9d22.dcb4e"
            ]
        ]
    },
    {
        "id": "8682a52e.e75d38",
        "type": "debug",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "TB Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 440,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2a5f6e89.ac5772",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "group": "47e3af07.39fe4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Battery AQI",
        "icon": "",
        "label": "Battery",
        "unit": "",
        "layout": "linear",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff0000",
                "t": "min",
                "dot": 0
            },
            {
                "val": 3,
                "col": "#ffff00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 3.5,
                "col": "#00ff00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 3.75,
                "col": "#00aaff",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 5,
                "col": "#00aaff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 690,
        "y": 820,
        "wires": []
    },
    {
        "id": "9afc1a7f.55c808",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "bca80e07.fbb0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.batteryvoltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 820,
        "wires": [
            [
                "2a5f6e89.ac5772"
            ]
        ]
    },
    {
        "id": "9759cfa6.fd92",
        "type": "ui_artlessgauge",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "group": "1885e422.ff6dac",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Battery TB",
        "icon": "",
        "label": "Battery TB",
        "unit": "",
        "layout": "linear",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff0000",
                "t": "min",
                "dot": 0
            },
            {
                "val": 3,
                "col": "#ffff00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 3.5,
                "col": "#00ff00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 3.75,
                "col": "#00aaff",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 5,
                "col": "#00aaff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 670,
        "y": 1060,
        "wires": []
    },
    {
        "id": "44a5c757.dbcad8",
        "type": "change",
        "z": "282fafd4.df968",
        "g": "5f88c0fa.e6cfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.batteryvoltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1060,
        "wires": [
            [
                "9759cfa6.fd92"
            ]
        ]
    },
    {
        "id": "c05e4831.bbdf78",
        "type": "ui_group",
        "name": "Wind",
        "tab": "ba726685.f2a9e8",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false
    },
    {
        "id": "5f8162aa.9351fc",
        "type": "ui_group",
        "name": "Time and Temp",
        "tab": "ba726685.f2a9e8",
        "order": 1,
        "disp": false,
        "width": 16,
        "collapse": false
    },
    {
        "id": "1eaa5523.e75dab",
        "type": "ui_group",
        "name": "More Data",
        "tab": "ba726685.f2a9e8",
        "order": 3,
        "disp": false,
        "width": 16,
        "collapse": false
    },
    {
        "id": "4888b0a5.5cd9d",
        "type": "pwsapikey",
        "name": "WU API",
        "info": "7130a1e50fc64c2eb0a1e50fc66c2ee0"
    },
    {
        "id": "10c9f9e1.8539b6",
        "type": "ui_group",
        "name": "Station Data",
        "tab": "ba726685.f2a9e8",
        "order": 5,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "52473363.c6b6cc",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.1.3",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1885e422.ff6dac",
        "type": "ui_group",
        "name": "Lightning Data",
        "tab": "2b9fd95c.b34bb6",
        "order": 4,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "9605ef68.9bb95",
        "type": "ui_group",
        "name": "RT Time and Temp",
        "tab": "2b9fd95c.b34bb6",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d6b71159.f17f8",
        "type": "ui_group",
        "name": "RT WInd",
        "tab": "2b9fd95c.b34bb6",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false
    },
    {
        "id": "47e3af07.39fe4",
        "type": "ui_group",
        "name": "RT Air Quality",
        "tab": "2b9fd95c.b34bb6",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "42c6ffdd.a3dbb",
        "type": "ui_group",
        "name": "5 Day Forecast",
        "tab": "ba726685.f2a9e8",
        "order": 4,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "ba726685.f2a9e8",
        "type": "ui_tab",
        "name": "PWS Conditions",
        "icon": "iconify-carbon-weather-front-stationary ",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2b9fd95c.b34bb6",
        "type": "ui_tab",
        "name": "Real Time Conditions",
        "icon": "iconify-carbon-weather-station ",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
