WR2 MQTT Process
[
    {
        "id": "e70ee989.203f28",
        "type": "subflow",
        "name": "Sensor.Comm HM3301",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "af31d5f.e09ad28"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1140,
                "y": 160,
                "wires": [
                    {
                        "id": "935397e7.cd54b8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1140,
            "y": 100,
            "wires": [
                {
                    "id": "935397e7.cd54b8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "af31d5f.e09ad28",
        "type": "function",
        "z": "e70ee989.203f28",
        "name": "function",
        "func": "var msg1 = { payload:msg.payload[\"PM2.5S\"]};\nvar msg2 = { payload:msg.payload.PM10S};\nvar msg3 = { payload:msg.payload[\"PM1.0S\"]};\n\nreturn [ msg1, msg2, msg3 ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "fdaeeea0.cb8d3"
            ],
            [
                "afeb96b1.bc5218"
            ],
            []
        ],
        "outputLabels": [
            "PM25",
            "PM10",
            ""
        ]
    },
    {
        "id": "fdaeeea0.cb8d3",
        "type": "change",
        "z": "e70ee989.203f28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm25",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "d6283b15.11a748"
            ]
        ]
    },
    {
        "id": "afeb96b1.bc5218",
        "type": "change",
        "z": "e70ee989.203f28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "d6283b15.11a748"
            ]
        ]
    },
    {
        "id": "cf08653a.cb5fd8",
        "type": "function",
        "z": "e70ee989.203f28",
        "name": "",
        "func": "msg.headers = {\n    \"X-Pin\": \"1\",\n    \"X-Sensor\": \"raspi-100000004f650355\"\n};\nmsg.payload = {\n    \"software_version\": \"LBE-20200511\",\n    \"sensordatavalues\": [\n        {\"value_type\": \"P2\", \"value\": parseFloat(msg.payload.pm25)},\n        {\"value_type\": \"P1\", \"value\": parseFloat(msg.payload.pm10)},\n   ]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 100,
        "wires": [
            [
                "935397e7.cd54b8"
            ]
        ]
    },
    {
        "id": "935397e7.cd54b8",
        "type": "http request",
        "z": "e70ee989.203f28",
        "name": "HTTP Request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.sensor.community/v1/push-sensor-data/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 960,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d6283b15.11a748",
        "type": "join",
        "z": "e70ee989.203f28",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "cf08653a.cb5fd8"
            ]
        ]
    },
    {
        "id": "bc5a593d.49ebf8",
        "type": "subflow",
        "name": "Sensor.Comm BMP280",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "f768cf67.8030c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1140,
                "y": 160,
                "wires": [
                    {
                        "id": "ffef180d.445d68",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1140,
            "y": 100,
            "wires": [
                {
                    "id": "ffef180d.445d68",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "47d32406.0981cc",
        "type": "change",
        "z": "bc5a593d.49ebf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "bb3c39e1.a2d288"
            ]
        ]
    },
    {
        "id": "4d3141ba.46fb4",
        "type": "change",
        "z": "bc5a593d.49ebf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "bb3c39e1.a2d288"
            ]
        ]
    },
    {
        "id": "b47c037d.884b4",
        "type": "function",
        "z": "bc5a593d.49ebf8",
        "name": "",
        "func": "msg.headers = {\n    \"X-Pin\": \"3\",\n    \"X-Sensor\": \"raspi-100000004f650355\"\n};\nmsg.payload = {\n    \"software_version\": \"LBE-20200511\",\n    \"sensordatavalues\": [\n        {\"value_type\": \"temperature\", \"value\": parseFloat(msg.payload.temperature)},\n        {\"value_type\": \"humidity\", \"value\": parseFloat(msg.payload.humidity)},\n//        {\"value_type\": \"pressure\", \"value\": parseFloat(msg.payload.pressure)},\n     ]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 120,
        "wires": [
            [
                "ffef180d.445d68"
            ]
        ]
    },
    {
        "id": "ffef180d.445d68",
        "type": "http request",
        "z": "bc5a593d.49ebf8",
        "name": "HTTP Request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.sensor.community/v1/push-sensor-data/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 980,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bb3c39e1.a2d288",
        "type": "join",
        "z": "bc5a593d.49ebf8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "b47c037d.884b4"
            ]
        ]
    },
    {
        "id": "f768cf67.8030c",
        "type": "function",
        "z": "bc5a593d.49ebf8",
        "name": "function",
        "func": "var msg1 = { payload:(((msg.payload.temperature-400)/10)-32)*0.55555};\nvar msg2 = { payload:msg.payload.humidity};\nvar msg3 = { payload:msg.payload.pressure_hPa};\n\nreturn [ msg1, msg2, msg3 ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "47d32406.0981cc"
            ],
            [
                "4d3141ba.46fb4"
            ],
            []
        ],
        "outputLabels": [
            "PM25",
            "PM10",
            "Hpa"
        ]
    },
    {
        "id": "142366b1.db48d9",
        "type": "change",
        "z": "bc5a593d.49ebf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2bfb245.567ebdc",
        "type": "tab",
        "label": "Weather Rack MQTT Process",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f61b8191.dfbc",
        "type": "debug",
        "z": "2bfb245.567ebdc",
        "name": "MQTT Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "24612eb8.027372",
        "type": "switch",
        "z": "2bfb245.567ebdc",
        "name": "",
        "property": "payload.model",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "cont",
                "v": "SwitchDoc Labs FT020T AIO",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SwitchDoc Labs AQI",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "f61b8191.dfbc"
            ],
            [
                "8ec44eed.3ff61",
                "be36d92e.564658",
                "2b79fdf1.65f982",
                "a7d6cf01.9aca2"
            ],
            [
                "ee01a255.1cbad"
            ]
        ],
        "outputLabels": [
            "Obs",
            "WR2",
            "AQI"
        ]
    },
    {
        "id": "7a00bfaf.967a3",
        "type": "inject",
        "z": "2bfb245.567ebdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "eb33cc56.ae551"
            ]
        ]
    },
    {
        "id": "e6f57371.42a51",
        "type": "change",
        "z": "2bfb245.567ebdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "myhourpm",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hour",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "e8ba6b8b.0e23b8"
            ]
        ]
    },
    {
        "id": "51cc7b9b.222584",
        "type": "ui_text",
        "z": "2bfb245.567ebdc",
        "group": "9605ef68.9bb95",
        "order": 1,
        "width": 16,
        "height": 3,
        "name": "Local Time",
        "label": "",
        "format": "<font class=\"biggertext\">{{msg.payload}}</font>",
        "layout": "row-center",
        "x": 1150,
        "y": 120,
        "wires": [],
        "info": "<font class=\"fa-4x\">\n<font class=\"nr-dashboard-text _md\">"
    },
    {
        "id": "ef7df0b0.99c9b",
        "type": "change",
        "z": "2bfb245.567ebdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "myminute",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "minute",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "e8ba6b8b.0e23b8"
            ]
        ]
    },
    {
        "id": "c2bce2f8.57b08",
        "type": "change",
        "z": "2bfb245.567ebdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mypm",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ampm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "d75fb251.b3992"
            ]
        ]
    },
    {
        "id": "e8ba6b8b.0e23b8",
        "type": "join",
        "z": "2bfb245.567ebdc",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ":",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "1720da7b.356b86",
                "51cc7b9b.222584"
            ]
        ]
    },
    {
        "id": "1720da7b.356b86",
        "type": "join",
        "z": "2bfb245.567ebdc",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 970,
        "y": 180,
        "wires": [
            [
                "51cc7b9b.222584"
            ]
        ]
    },
    {
        "id": "d75fb251.b3992",
        "type": "delay",
        "z": "2bfb245.567ebdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "1720da7b.356b86"
            ]
        ]
    },
    {
        "id": "eb33cc56.ae551",
        "type": "simpletime",
        "z": "2bfb245.567ebdc",
        "name": "",
        "mydate": false,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": true,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": true,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": true,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "e6f57371.42a51",
                "ef7df0b0.99c9b",
                "c2bce2f8.57b08"
            ]
        ]
    },
    {
        "id": "d59d5063.1b1de",
        "type": "ui_gauge",
        "z": "2bfb245.567ebdc",
        "name": "",
        "group": "d6b71159.f17f8",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "359",
        "colors": [
            "#00b3b0",
            "#00e60f",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 520,
        "wires": []
    },
    {
        "id": "bd8a910.63f1b7",
        "type": "ui_text",
        "z": "2bfb245.567ebdc",
        "group": "9605ef68.9bb95",
        "order": 2,
        "width": 8,
        "height": 3,
        "name": "Out Temp",
        "label": "",
        "format": "<font class=\"biggertext\">{{msg.payload.temperature}}</font>F",
        "layout": "row-center",
        "x": 1020,
        "y": 600,
        "wires": []
    },
    {
        "id": "8b3528ab.564898",
        "type": "ui_artlessgauge",
        "z": "2bfb245.567ebdc",
        "group": "d6b71159.f17f8",
        "order": 1,
        "width": 4,
        "height": 4,
        "name": "Humidity Outdoor",
        "icon": "iconify-wi-humidity",
        "label": "Humidity Outdoor",
        "unit": "%",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.humidity",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#fbff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 35,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 65,
                "col": "#ff9705",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 90,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "9",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1050,
        "y": 560,
        "wires": []
    },
    {
        "id": "2d00835c.ad84cc",
        "type": "ui_artlessgauge",
        "z": "2bfb245.567ebdc",
        "group": "a7393b0f.367418",
        "order": 1,
        "width": 4,
        "height": 4,
        "name": "Rainfall",
        "icon": "iconify-carbon-rain-drop",
        "label": "Annual Rainfall",
        "unit": "in",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.cumulativerain",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#006eff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#64ff64",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#ff9705",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 35,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "9",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1020,
        "y": 720,
        "wires": []
    },
    {
        "id": "d5a3ece7.56841",
        "type": "ui_artlessgauge",
        "z": "2bfb245.567ebdc",
        "group": "a7393b0f.367418",
        "order": 3,
        "width": 4,
        "height": 4,
        "name": "UV",
        "icon": "iconify-carbon-uv-index-alt",
        "label": "UV",
        "unit": "",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.uv",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#8000ff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 3,
                "col": "#fff566",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 7,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "9",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1010,
        "y": 760,
        "wires": []
    },
    {
        "id": "8ec44eed.3ff61",
        "type": "debug",
        "z": "2bfb245.567ebdc",
        "name": "WR2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "8208033f.b9cd5",
        "type": "ui_template",
        "z": "2bfb245.567ebdc",
        "group": "c05e4831.bbdf78",
        "name": "",
        "order": 11,
        "width": 16,
        "height": 1,
        "format": "<style>\n    @font-face {\n        font-family: \"biggertext\";\n    }\n\n    .biggertext {\n        color: rgba(255, 255, 255, 0.8);\n        font-size: 140px;\n    }\n        .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible > * .small{\n        font-size:10px;\n    }\n    .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible > * .medium{\n        font-size:15px;\n    }\n    .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible > * .big{\n        font-size:25px;\n    }\n\n</style>\n<script src=\"https://code.iconify.design/1/1.0.7/iconify.min.js\"></script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "99a624.7f6e59e",
        "type": "comment",
        "z": "2bfb245.567ebdc",
        "name": "Query PWS Current Conditions from Personal Weather Station",
        "info": "",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "4b5eceb5.1cb73",
        "type": "comment",
        "z": "2bfb245.567ebdc",
        "name": "WR2 Specs",
        "info": "time: Time of Message Reception\nmodel: SwitchDoc Labs FT020T AIO\ndevice: Serial Number of the sensor - changed on powerup but can be used to discriminate from other similar sensors in the area\nbatterylow: 0 if battery good, 1 if battery is getting low\navewindspeed: Average Wind Speed in m/s *10\ngustwindspeed: Last Gust Speed in m/s *10\nwinddirection: Wind Direction in degrees from 0-359.\ncumulativerain: Total rain since last reset or power off. in mm.*10\ntemperature: outside temperature in F with 400 offset and *10 T = (value-400)/10.0\nhumidity: Relative Humidity in %. \nlight: Visible Sunlight in lux. \nuv: UV Index * 10 (meaning an uv index of 0.8 is in the example message above)",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "3422a0dd.ea2d7",
        "type": "ui_artlessgauge",
        "z": "2bfb245.567ebdc",
        "group": "a7393b0f.367418",
        "order": 2,
        "width": 4,
        "height": 4,
        "name": "Sunlight",
        "icon": "iconify-carbon-sun",
        "label": "Sunlight",
        "unit": "klux",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.light",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#8000ff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#fff566",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#fa0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 200,
                "col": "#fa0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "9",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1020,
        "y": 800,
        "wires": []
    },
    {
        "id": "508f1060.95f3f",
        "type": "ui_artlessgauge",
        "z": "2bfb245.567ebdc",
        "group": "d6b71159.f17f8",
        "order": 3,
        "width": 4,
        "height": 4,
        "name": "Wind",
        "icon": "iconify-mdi-weather-windy",
        "label": "Wind",
        "unit": "mph",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "0, 8, round",
        "colorFromTheme": true,
        "property": "payload.avewindspeed",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 5,
                "col": "#69ff66",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#006b99",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#fcf403",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#ff3333",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#ff3333",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "f2c16425.1b3728",
        "type": "ui_artlessgauge",
        "z": "2bfb245.567ebdc",
        "group": "d6b71159.f17f8",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "Gusts",
        "icon": "iconify-mdi-weather-windy",
        "label": "Gusts",
        "unit": "mph",
        "layout": "linear",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "0, 8, round",
        "colorFromTheme": true,
        "property": "payload.gustwindspeed",
        "secondary": "secondary",
        "inline": true,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 5,
                "col": "#69ff66",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#006b99",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#fcf403",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#ff3333",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#ff3333",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1150,
        "y": 680,
        "wires": []
    },
    {
        "id": "be36d92e.564658",
        "type": "delay",
        "z": "2bfb245.567ebdc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "7ab2471f.a7b428"
            ]
        ]
    },
    {
        "id": "7ab2471f.a7b428",
        "type": "subflow:bc5a593d.49ebf8",
        "z": "2bfb245.567ebdc",
        "name": "",
        "env": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "aa327c7d.59742"
            ]
        ]
    },
    {
        "id": "ee01a255.1cbad",
        "type": "subflow:e70ee989.203f28",
        "z": "2bfb245.567ebdc",
        "name": "",
        "env": [],
        "x": 710,
        "y": 880,
        "wires": [
            [
                "57e67828.5321f8"
            ]
        ]
    },
    {
        "id": "aa327c7d.59742",
        "type": "debug",
        "z": "2bfb245.567ebdc",
        "name": "Sub BME",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1200,
        "y": 280,
        "wires": []
    },
    {
        "id": "57e67828.5321f8",
        "type": "debug",
        "z": "2bfb245.567ebdc",
        "name": "Sub HM33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 940,
        "wires": []
    },
    {
        "id": "33bd3027.3671",
        "type": "mqtt out",
        "z": "2bfb245.567ebdc",
        "name": "",
        "topic": "PWS/weather-rack-2",
        "qos": "0",
        "retain": "false",
        "broker": "52473363.c6b6cc",
        "x": 1060,
        "y": 840,
        "wires": []
    },
    {
        "id": "a7d6cf01.9aca2",
        "type": "change",
        "z": "2bfb245.567ebdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.winddirection",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 620,
        "wires": [
            [
                "d59d5063.1b1de"
            ]
        ]
    },
    {
        "id": "2b79fdf1.65f982",
        "type": "change",
        "z": "2bfb245.567ebdc",
        "name": "WR2 Imperializer",
        "rules": [
            {
                "t": "set",
                "p": "payload.temperature",
                "pt": "msg",
                "to": "((msg.payload.temperature-400)/10)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.avewindspeed",
                "pt": "msg",
                "to": "(payload.avewindspeed*0.2237)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.gustwindspeed",
                "pt": "msg",
                "to": "(payload.gustwindspeed*0.2237)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.cumulativerain",
                "pt": "msg",
                "to": "(payload.cumulativerain*0.003937)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.uv",
                "pt": "msg",
                "to": "(payload.uv/10)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.light",
                "pt": "msg",
                "to": "(payload.light/1000)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 660,
        "wires": [
            [
                "bd8a910.63f1b7",
                "508f1060.95f3f",
                "2d00835c.ad84cc",
                "d5a3ece7.56841",
                "3422a0dd.ea2d7",
                "33bd3027.3671",
                "8b3528ab.564898",
                "2c6c9081.2049f"
            ]
        ]
    },
    {
        "id": "2c6c9081.2049f",
        "type": "smooth",
        "z": "2bfb245.567ebdc",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "40",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1020,
        "y": 680,
        "wires": [
            [
                "f2c16425.1b3728"
            ]
        ]
    },
    {
        "id": "7fb5a9b0.966868",
        "type": "mqtt in",
        "z": "2bfb245.567ebdc",
        "name": "",
        "topic": "PWS/SDL_AQI",
        "qos": "2",
        "datatype": "auto",
        "broker": "52473363.c6b6cc",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 580,
        "wires": [
            [
                "8e4820fe.d6f8b"
            ]
        ]
    },
    {
        "id": "ce70057a.ad1a98",
        "type": "mqtt in",
        "z": "2bfb245.567ebdc",
        "name": "",
        "topic": "PWS/raw-wr2-wx",
        "qos": "2",
        "datatype": "auto",
        "broker": "52473363.c6b6cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "8e4820fe.d6f8b"
            ]
        ]
    },
    {
        "id": "8e4820fe.d6f8b",
        "type": "json",
        "z": "2bfb245.567ebdc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "24612eb8.027372"
            ]
        ]
    },
    {
        "id": "9605ef68.9bb95",
        "type": "ui_group",
        "name": "RT Time and Temp",
        "tab": "2b9fd95c.b34bb6",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d6b71159.f17f8",
        "type": "ui_group",
        "name": "RT WInd",
        "tab": "2b9fd95c.b34bb6",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false
    },
    {
        "id": "a7393b0f.367418",
        "type": "ui_group",
        "name": "RT More Data",
        "tab": "2b9fd95c.b34bb6",
        "order": 5,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "c05e4831.bbdf78",
        "type": "ui_group",
        "name": "Wind",
        "tab": "ba726685.f2a9e8",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false
    },
    {
        "id": "52473363.c6b6cc",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.1.3",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2b9fd95c.b34bb6",
        "type": "ui_tab",
        "name": "Real Time Conditions",
        "icon": "iconify-carbon-weather-station ",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ba726685.f2a9e8",
        "type": "ui_tab",
        "name": "PWS Conditions",
        "icon": "iconify-carbon-weather-front-stationary ",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
